
<!-- デバッグ用の表示 -->
<% if user_signed_in? %>
  <p> ログイン中: <%= current_user.email %> </p>
<% else %>
  <p> ログアウト中 </p>
<% end %>
<!-- デバッグ用表示ここまで -->


<h1><%= t 'articles.index.all_articles' %></h1>

<%= render partial: "search" %>
<table>
  <thead>
    <tr>
      <th><%= t("articles.index.title") %></th>
      <th><%= t("articles.index.content") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @article.eager_load(:tags).each do |article| %>
      <tr>
        <td>
          <%= article.title %>
          <% article.tags.each do |tag| %>
            <span class="badge rounded-pill bg-primary"><%= tag.name%></span>
          <% end %>
        </td>
        <td><%= article.content %></td>
        <td><%= link_to t("articles.index.show"), article, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @article, theme: 'twitter-bootstrap-4' %>
<br>
