
<!-- デバッグ用の表示 -->
<% if user_signed_in? %>
  <p> ログイン中: <%= current_user.email %> </p>
<% else %>
  <p> ログアウト中 </p>
<% end %>
<!-- デバッグ用表示ここまで -->


<%= link_to t('.serach'), "#", class: "btn btn-primary" %>

<h1><%= t 'articles.index.all_articles' %></h1>
<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to t('.show'), article, class: "btn btn-success" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<!-- Task.11-2修正時にcontroller側のページネーションの実装を一時的に削除したため、一旦ページネーションを無しにする -->

<br>
