<p id="notice"><%= notice %></p>

<p>
  <strong>記事:</strong>
  <% #binding.pry %>
  <%= @article.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @article.content %>
</p>

<%= link_to "編集", edit_article_path(@article), class: "btn btn-primary" %>
<%= link_to "一覧に戻る", articles_path, class: "btn btn-primary" %>
