<p> ログイン中_<%= current_user.email %> </p>

<br><%= link_to t('.new'), new_article_path %>

<table>
  <thead>
    <tr>
      <th><%= t('.title') %></th>
      <th><%= t('.content') %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @article.each do |article| %>
      <tr>
        <td><%= article.title %></td>
        <td><%= article.content %></td>
        <td><%= link_to t('.show'), article, class: "btn btn-success" %></td>
        <td><%= link_to t('.edit'), edit_article_path(article), class: "btn btn-warning" %></td>
        <td><%= link_to t('.destroy'), article, class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
