<p> ログイン中: <%= current_user.email %> </p>

<h1>マイページ</h1>
<%= render partial: "search" %>

<br><%= link_to t("mypage.show.new"), new_article_path %>
<table>
  <thead>
    <tr>
      <th><%= t("mypage.show.title") %></th>
      <th><%= t("mypage.show.content") %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @articles.eager_load(:tags).each do |article| %>
      <tr>
        <td><%= article.title %>
          <% article.tags.each do |tag| %>
            <span class="badge rounded-pill bg-primary"><%= tag.name %>
          <% end %>
        </td>
        <td><%= article.content %></td>
        <td><%= link_to t("mypage.show.show"), article, class: "btn btn-success" %></td>
        <td><%= link_to t("mypage.show.edit"), edit_article_path(article), class: "btn btn-warning" %></td>
        <td><%= link_to t("mypage.show.destroy"), article, class: "btn btn-danger", method: :delete, data: { confirm: '本当に削除しますか?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= paginate @articles, theme: 'twitter-bootstrap-4' %>

<br>
